#barra-de-busca {
	#busca div[role="search"] {
		display: flex;
		justify-content: space-between;
		border: 1px solid var(--secundariaPrincipal);
		background-color: var(--secundariaOpacidade);
		border-radius: 60px;
		padding: 0 1rem;
		margin-bottom: 4rem;
		height: 42px;
		letter-spacing: 3px;
		position: relative;

		label {
			@extend %readerOnly;
		}

		&:focus-within {
			box-shadow: 0 0 0 2px var(--secundariaBorda);
		}

		input#searchText {
			border: none;
			font-family: $sans;
			font-weight: $light;
			background: none;
			// flex: 10 0 0;
			font-size: 1rem;
			width: calc(100% - 1.5rem);
			color: inherit;

			&.focus-visible {
				box-shadow: none;
			}
		}

		button#searchButton {
			color: var(--secundariaPrincipal);
			background: none;
			border: none;
			padding-right: 0px;

			&:after {
				@extend %fontAwesome;
				content: "\f002";
			}

			span {
				position: absolute;
				left: -9999px;
			}
		}
	}
}
#erro {
	display: none;
	color: #ad0505;
	font-weight: $medium;
	margin-top: -3rem;
	margin-bottom: 1.5rem;
	opacity: 0;
	transform: translateY(-10px);
	transition: 0.3s ease-in-out;
	font-size: 1rem;
}
main#busca {
	#erro {
		margin-top: -1.25rem;
		font-size: 1rem;
	}
}

.wrapper {
	#erro {
		margin-top: 0;
		height: 0;

		&.ativo {
			height: auto;
		}
	}
}

#erro::before {
	content: url("../svg/erro.svg");
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}

#erro.ativo {
	opacity: 1;
	transform: translateY(0);
	transition: 0.3s ease-in-out;
}