.navbar{
  position: fixed;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
  width: 100%;
  height: 56px;
  top: 0;
  left: 0;
  z-index: 3;

  > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    height: 100%;
  }

  @media screen and (min-width: 1024px){
    height: 76px;
  }
}

.nav-title{
  height: fit-content;
  flex-grow: 1;
  overflow: hidden;
  font-family: $serif;
  color: var(--primariaPrincipal);
  font-weight: $bold;
  font-size: 1.15rem;
  white-space: nowrap;
  margin-right: 1rem;

  @media screen and (min-width: 1024px){
    font-size: 1.3rem;
  }
}

#link-inicio{
  display: none;

  @media screen and (min-width: 1288px){
    display: block;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1rem;
    color: var(--secundariaPrincipal);
    font-family: $sans;
    font-weight: $regular;
    width: fit-content;
    padding: 0;
  }

  &:not(.js){
    display: inline-block;

    span{ @extend %readerOnly; }

    &:before{
      @extend %fontAwesome;
      content: "\f015";
      color: var(--secundariaPrincipal);
      margin-right: .5rem;
    }

  }
}

#nav-ajustes, #nav-menu{
  min-width: 3rem;
  display: none;

  &.js{
    display: block;
  }

  &:before{
    @extend %fontAwesome;
  }

  span{
    margin-left: .5rem;
  }

  &.desabilitado{
    opacity: .2;
    cursor: default;
  }
}


#nav-ajustes{
  min-width: 12rem;

  &:before{
    content: "\f1de";
  }

  @media screen and (max-width: 719px){
    margin-right: -1rem;
    min-width: 3rem;

    span{
      position: absolute;
      left: -9999px;
    }
  }
}

#nav-menu{
  height: 3rem;
  &:before{
    content: "\f0c9";
  }

  span{
    position: absolute;
    left: -9999px;
  }

  // @media screen and (max-width: 719px){
    margin-left: -1rem;
    margin-right: .5rem;
  // }

  @media screen and (min-width: 1288px){
    &.js{ display: none; }
  }
}


.nav-logo{
  height: fit-content;
  margin-left: .5rem;

  span{
    @extend %readerOnly;
  }

  svg{
    width: auto;
    height: 40px;
    path{
      fill: var(--secundariaPrincipal);
    }
  }

  @media screen and (max-width: 719px){
    display: none;
  }
}

.content-bar{
  visibility: visible;
  height: 8px;
  background: var(--primariaPrincipal);
  // width: 30px;
  position: absolute;
  transition: opacity 1s;
  opacity: 1;
  transition-delay: 0.5s;

  &:before{
    content: "";
    background-color: rgba(black, .02);
    width: 100vw;
    height: 8px;
    position: absolute;
    z-index: -1;
  }
}
