@import "global";
@import "navbar";
@import "modal";
@import "toc";
@import "barra-de-busca";
@import "paginacao";
@import "fallback";

#menu {
  position: fixed;
  bottom: 0;
  background-color: white;
  height: calc(100% - 56px - 4rem);
  width: calc(272px - 4rem);
  box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 2rem;
  visibility: hidden;

  &.js {
    left: -280px;
    overflow: hidden;
    transition: 0.5s all;
    visibility: visible;

    &.habilitado {
      left: 0;
      overflow: visible;
      transition: 0.5s all;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    div:first-of-type {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      #voltar-inicio {
        color: var(--secundariaPrincipal);
        text-transform: lowercase;
        font-variant: small-caps;
        font-weight: $bold;
        text-decoration: none;
        font-size: 1.15rem;
        height: 1.5rem;
        align-self: center;

        &:before {
          content: "\f015";
          font-size: 18px;
          left: 0;
          text-align: center;
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          padding-right: 6px;
        }
      }

      #menu-close {
        color: var(--secundariaPrincipal);
        width: 3.5rem;
        height: 3.5rem;
        margin-right: -1.5rem;
        padding: 0;
        background: none;
        border: none;
        font-size: 1.5rem;
        @extend %fontAwesome;

        &:before {
          content: "\f104";
        }

        span {
          position: absolute;
          left: -9999px;
        }
      }
    }

    #busca {
      margin: 1.2rem 0;
    }

    ul {
      overflow: auto;
      scrollbar-color: rgba(224, 224, 224, 0.6) #fff;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 16px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(224, 224, 224, 0.6);
        border-left: 12px solid transparent;
        background-clip: content-box;
      }
    }

    > span {
      color: var(--primariaPrincipal);
      text-transform: lowercase;
      font-variant: small-caps;
      font-size: 1.25rem;
      margin: 1rem 0 0.5rem;
      font-weight: $bold;
    }
  }

  @media only screen and (min-width: 1024px) {
    height: calc(100vh - 76px - 4rem);
  }

  @media only screen and (min-width: 1288px) {
    &.js {
      float: left;
      display: block;
      left: 4rem;
      height: calc(100vh - 14rem);
      -webkit-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
      position: -webkit-sticky;
      position: sticky;
      top: 8rem;
      margin-top: 3rem;
      bottom: unset;
      border-radius: 2px;
    }

    .wrapper > div:first-of-type {
      display: none;
    }
  }
}

#barra-de-busca #busca div[role="search"] {
  margin-bottom: 0;
  height: 36px;
}

@import "article";

header > .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1288px) {
    flex-direction: row;
  }
}

.cover-img {
  position: relative;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/capa.png);
  width: 100%;
  height: 25vh;

  @media screen and (min-width: 1024px) {
    height: 35vh;
  }
}

@import "themes";
